@page "/RazorComponents/Products"
<h3>Products</h3>
Product Name : @Product.Name <br />
Action : @Product.IsActive <br />
Price : @Product.Price
<br />

The Product Is: @(Product.IsActive ? "Active" : "In Active")
<br />

<input type="number" @bind="@Product.Price" @bind:event="oninput" />
<br />
Is Active : <input type="checkbox" @bind="@Product.IsActive" @bind:event="onchange" />
<br />

<br />


@code {
    Ecommers.Core.Models.Product Product = new()
    {
        ID = 1,
        Name = "TesterProduct 1",
        IsActive = true,
        Price = 0.5
    };
}
